<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pasien Mengantre</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<header class="topbar">
    <div class="brand">Klinik <span>Sehat</span></div>
    <a th:href="@{/admin/admin-menu}" class="logout-btn">Kembali ke Menu</a>
</header>

<main class="dokter-wrapper">
    <h2 class="dokter-header-title">Daftar Pasien Mengantre</h2>

    <div class="pasien-table-wrapper">
        <table class="pasien-table">
            <thead>
            <tr>
                <th>ID Daftar</th>
                <th>ID Pasien</th>
                <th>Nama Pasien</th>
                <th>Admin Pendaftar</th>
                <th>Poli</th>
                <th>Tanggal</th>
                <th>No Antrian</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="a : ${pendaftaranList}">
                <td th:text="${a.idDaftar}">1</td>

                <!-- PASIEN -->
                <td th:text="${a.pasien.idPengguna}">3</td>
                <td th:text="${a.pasien.nama}">Nama Pasien</td>

                <!-- ADMIN PENDAFTAR -->
                <td th:text="${a.adminPendaftar != null ? a.adminPendaftar.nama : 'Pasien Sendiri'}">
                    Admin
                </td>

                <td th:text="${a.poli}">Umum</td>
                <td th:text="${a.tglDaftar}">2025-11-22</td>
                <td th:text="${a.noAntrian}">1</td>
                <td th:text="${a.status}">MENUNGGU</td>
            </tr>

            <tr th:if="${#lists.isEmpty(pendaftaranList)}">
                <td colspan="8" class="pasien-empty">Belum ada antrian.</td>
            </tr>
            </tbody>

        </table>
    </div>

</main>
</body>
</html>
